.card img {
    height: 250px;
    width: auto;
}

.card_wrapper {
    position: relative;
}

.card_content {
    position: absolute;
    top: 50%;
    left: 33%;
}

.card_content h3 {
  color: #fff;
  font-size: larger;
}

.card span {
    color: #fff;
    font-size: 18px;
}