.upload_container {
    padding: 0 80px;
    height: 100vh;
    width: 100vw;
    padding-bottom: 1100px;
}

.upload_content_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 55px 0 80px 0;
}

.upload_content_wrapper button{
    cursor: pointer;
    margin-top: 10px;
    width: 90px;
    height: 40px;
}
.upload_content_text {
     text-align: center;
}
.upload_content_music {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 20px;
}
.music_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1B1B1B;
    padding: 20px 0;
    width: 130px;
    height: 150px;
}

.music_container span {
    color: #fff;
    font-size: 12px;
    font-weight: 400;
}
.upload_content_music img {
    width: 90px;
    height: auto;
}